* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #020a18;
}

header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: auto;
  width: auto;
}

header a {
  margin: 0 10px;
}

.main_info {
  display: flex;
  padding-top: 160px;
  justify-content: center;
  align-items: center;
  gap: 128px;
  width: 100%;
}

a {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}

.small h3 {
  display: flex;
  flex-direction: row;

  justify-content: center;
  color: var(--3-a-68-b-8, #3a68b8);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
  text-transform: uppercase;
}

.main_title {
  width: 570px;
  padding-top: 39px;
  color: var(--ffffff, #fff);
  font-size: 3.44rem;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}
.text_main_page {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
  opacity: 0.7;
  width: 558px;
  margin-top: 40px;
}
.buttons_main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 15px;
}

.left_b {
  background-color: #3a68b8;
  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;

  color: var(--ffffff, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  gap: 10px;
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);
}

.right_b {
  background-color: #3a68b8;
  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;
  color: var(--ffffff, #fff);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  gap: 10px;
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);
}

footer {
  padding-bottom: 99px;
}

.logo_panel {
  display: flex;
  flex-direction: row;
  padding-top: 155px;
  justify-content: center;
  align-items: center;
  gap: 71px;
  width: 100%;
}

.secondFloor {
}

.content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
}
.pic_about {
  padding-top: 256px;
}

.f2_h {
  color: var(--ffffff, #fff);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  width: 484px;
  padding-top: 373px;
}

.f2_s {
  width: 460px;
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  padding-top: 30px;
  padding-bottom: 50px;
}

.f2_button {
  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);
}

.f2_button p {
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.feature {
  display: flex;
  gap: 30px;
  padding-top: 264px;
  justify-content: center;
  align-items: center;
}

.block {
  border-radius: 10px;
  background: #132035;
}

.block img {
  width: 98px;
  height: 103px;
  flex-shrink: 0;
  padding-left: 132px;
  padding-top: 30px;
}

.block2 img {
  width: 98px;
  height: 103px;
  flex-shrink: 0;
  padding-left: 132px;
  padding-top: 30px;
}

.f3_h {
  width: 302px;
  color: var(--ffffff, #fff);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  opacity: 0.7;
  padding-top: 30px;
  padding-left: 30px;
}

.f3_s {
  width: 302px;
  color: var(--ffffff, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  padding: 30px;
}

.feature2 {
  display: flex;
  padding-top: 30px;
  width: auto;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.big_block {
  border-radius: 10px;
  background: #132035;
  height: 808px;
}

.big_block img {
  width: 306px;
  height: 322px;
  flex-shrink: 0;
  padding-left: 224px;
  padding-top: 30px;
}

.f3_bh {
  width: 694px;
  color: var(--ffffff, #fff);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  opacity: 0.7;
  padding: auto 30px;
}

.f3_bs {
  width: 694px;
  color: var(--ffffff, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  padding-left: 30px;
  padding-top: 60px;
}

.block2 {
  width: 362px;
  height: 389px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #132035;
  display: block;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .feature2 {
    display: none;
  }
  header {
    padding-top: 20px;
    flex-direction: row;
    justify-content: center;
  }
  header a {
    margin: 0 10px;
  }
  .main_info {
    flex-direction: column;

    text-align: center;
    padding-top: 60px;
  }
  .text_info {
    padding: 0 20px;
    text-align: center;
  }
  .small {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .buttons_main {
    padding-top: 15px;
    flex-direction: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .logo_panel {
    padding-top: 120px;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
    text-align: center;
    width: 75%;
  }
  .content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
  }
  .pic_about {
    margin: 0 auto;
    padding-top: 10px;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .content2_main {
    margin: 0 auto;
    padding-top: 0;
    justify-content: center;
    text-align: center;
    width: 75%;
  }
  .f2_h {
    padding-top: 20px;
    width: 100%;
  }

  .feature,
  .feature2 {
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    align-items: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
  }
  .block img,
  .block2 img,
  .big_block img {
    width: 100%;
    padding-left: 0;
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  .feature2 {
    display: none;
  }
  header {
    padding-top: 20px;
    flex-direction: row;
    justify-content: center;
  }
  header a {
    margin: 0 10px;
  }
  .main_info {
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
  }
  .text_info {
    padding: 0 20px;
    text-align: center;
  }
  .small {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .buttons_main {
    padding-top: 15px;
    flex-direction: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 425px) {
  header {
    padding-left: 65%;
    gap: 5px;
    font-size: 30px;
  }
  .small {
    padding-left: 20%;
  }
  .main_title {
    padding-left: 20%;
    font-size: 48px;
  }
  .text_main_page {
    padding-left: 23%;
  }
  .buttons_main {
    padding-left: 19%;
  }
  .main_img {
    max-width: 40%;
  }
  footer {
    padding-left: 60%;
    height: 125%;
  }
  .pic_about {
    max-width: 400%;
    padding: 0;
  }
  .feature {
    padding-left: 65%;
  }
}
